*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}


.box-one, .box-two,.box-three{
    width: 30%;
    height: 350px;
    border: 10px solid purple;
    padding: 10px;
    text-align: center;
}

.box-two{
    border: 10px solid rgb(17, 199, 38);
}

.box-three{
    border: 10px solid rgb(68, 17, 199);
}

.box-one__item, .box-two__item,.box-three__item{
    text-align:initial;
    padding-top: 10px;
}


html{
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fruta{
    color: blue;
}
p{
    color: blueviolet;
}

.fruta2{
    color: rgb(0, 255, 115);
}
p{
    color: rgb(199, 28, 37);
}

