*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}


.box-one, .box-two,.box-three{
    width: 30%;
    height: 350px;
    border: 10px solid purple;
    padding: 10px;
    text-align: center;
}

.box-two{
    border: 10px solid rgb(17, 199, 38);
}

.box-three{
    border: 10px solid rgb(68, 17, 199);
}

.box-one__item, .box-two__item,.box-three__item{
    text-align:initial;
    padding-top: 10px;
}

.page-header{
    padding: 5px;
    background-color: rgb(37, 35, 35);
    text-align: center;
}

.page-title{
    color: rgb(237, 236, 241);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 3rem;
    letter-spacing: 1rem;
    padding-bottom: 5px;
    padding-top: 15px;
}

.main-nav li{
    display: inline-block;
    padding:20px;

}
/*last-child sive para el ultimo elemento cambiarle
.main-nav li:last-child a{
    background-color: blue;
}
*/
 
.main-nav a{
    text-decoration: none;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
}

.main-nav a:hover{
    background-color: darkgray;
    color: black;
    border-radius: 5px;
    
}

.main-nav a:active{
    color: rgb(10, 9, 9);
}

.form-title{
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form label{
    display:inline-flex;
    padding: 5px;
}

span{
    color:mediumblue;
}

.nombre-cliente{
    color: mediumorchid;
}

.titulo-combinadores{
    font-size: 1.5rem;
    color: brown;
}
/*Hermano adyascente*/

.hermano-adyacesnte h2 + p{
    color: red;
}

.hermano-adyacesnte h3 + p{
    color: blue;
}

/*Hermano general*/

.hermano-general h2 ~ p{
    color: crimson;
}

/*Etiqueta hija*/

.hijo > p {
    color: rgb(220, 29, 29);
}






