*{
    font-family: sans-serif;
}

#ir-inicio{
    display:inline-block;
}

span{
    color: orangered;
    font-weight: bold;
}

.title-main{
    background-color: gainsboro;
    font-size: 1rem;
    font-family: Arial;
    color: black;
    text-align: center;
    border-radius: 5px;
}

/*Selectores Hijo directo*/

/*
.hijos-directos > li{
    background-color: blue;
}
*/

.hijos-directos > b{
    background-color: blue;
}

.hijos-descendientes b{
    background-color: rgb(121, 121, 174);
}

.hermanos-adyacentes +li {
    background-color: brown;
}

/*SELECTORES DE ATRIBUTO*/

.selectores-atributo a[href]{
    color: orangered;
}

/*Tener en cuenta si esta separado el atributo no aplicara nada a[ejemplo]*/
.selectores-atributo a[target="_blank"]{
    font-weight: bold;
}

/*con el * se vuelve mamadisimo por que hace una busqueda y filtra aplicando estilos*/
.selectores-atributo a[href*="jonmircha"]{
    font-size: 24px;
}

/*Aplica el estilo si tiene el texto en cuestion al inicio */
.selectores-atributo a[href^="http://"]{
    text-decoration: none;

}

/*Aplica el estilo si tiene el texto en cuestion al final*/
.selectores-atributo a[href$=".com/"]{
    background-color:palegreen;
}

/*Aplica el estilo si contiene el texto en cuestion en una lista separada por espacios */
.selectores-atributo a[class~="cursos"]{
    background-color: peru;
}

/*Aplica el estilo cuando al terminar el filtro de busqueda sigue un - en las clases*/
.selectores-atributo a[class|="menu"]{
    background-color: red;
}

/*SELECTOR UNIVERSAL*/
.selector-universal *{
    color: seagreen;
}

/*PSEUDOCLASES Dan estilos dependiendo el contexto o estado del elemento*/

.form-pseudoclases *:required {
    border-color:violet;
}

.form-pseudoclases *:hover{
    border-color: rgb(255, 247, 0);
}

/*Cuando el dato esta valido correctamente*/
.form-pseudoclases *:valid{
    border-color: rgb(0, 255, 21);
}

.form-pseudoclases *:invalid{
    border-color: red;
}

/*Cambia el fondo cuando se oprime encima*/
.form-pseudoclases *:focus{
    background-color: springgreen;
}

/*botones disable cambiar estilos y demas*/

.form-pseudoclases *:disabled{
    color: brown;
    font-size: 1rem;
}

.disable-color:hover{
    border-color: rgb(0, 174, 255);
}

/*PSEUDOCLASES*/
/*Cambiar color si ya se visito*/

.menu-pseudoclases a:visited{
    color: rgb(10, 202, 10);
}

/*Recomendar hover de ultimas ya que interactua y tiene una jerarquia*/
.menu-pseudoclases a:hover{
    color: tomato;
}

.p-pseudoclase:hover{
    font-size: 20px;
}


#pseudoclases:target{
    background-color: lightgreen;
}

/*Aplica estilos a hijos dependiendo si el ultimo o primero*/
.lista-pseudoclases li:first-child{
    color: green;
}

.lista-pseudoclases li:last-child{
    color: indigo;
}

.lista-pseudoclases li:nth-child(3){
    color: orchid;
}

/*De dos en dos va aplicando el estilo*/
.lista-pseudoclases li:nth-child(2n){
    font-size: 21px;
}

/*Aplicar estilos a pares y impares*/

.lista-pseudoclases li:nth-child(even){
    background-color: rgba(128, 128, 128, 0.809);
}

.lista-pseudoclases li:nth-child(odd){
    background-color: rgb(179, 177, 177);
}

/*Aplica el estilo dependiendo si es el hijo de primer tipo*/
.section-pseudoclase p:first-of-type{
    background-color: hotpink;
}

.section-pseudoclase p:last-of-type{
    background-color: green;
}

/*Busca de en las pseudoclases el posicionamiento dependiendo cual es el elemento padre */
.section-pseudoclase p:nth-of-type(2){
    font-size: 20px;
}


/*De esta manera aplicas estilos pero dejando afuera los que decidamos :n(p,article,div,#prueba)*/
.section-pseudoclase *:not(p){
    font-size: 25px;
    color: navy;
}

/*AGRUPAR SELECTORES : Recordar que tipo de elementos son porque puede ser confuzo poner " , " */

.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea{
    border-color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
    width: 300px;
    border-width: 2px; /*Da borde si el navegador pone algo por defecto*/
    margin: 5px;
    border-style:dashed;
}

/*
Algoritmo de CSS: es la forma en la que el navegador aplica los estilos al documento HTML.
Es muy importante entender el concepto para que yo pueda entender como se aplican en algunas ocaciones
se sobrescriben las reglas CSS

1- La cascada
2- La especifidad
3- La herencia
*/

blockquote#cita-marco.cita-marco{
    background-color: gray;
}

blockquote{
    background-color: lightcoral;
}

#cita-marco{
    background-color: mediumblue;
}

/*Esta tiene mayor peso ya que tiene elemento blockquote y suma el de la clase*/
blockquote.cita-marco{
    background-color: limegreen;
}

.cita-marco{
    background-color:lightskyblue;
}

.cita-marco{
    background-color: indigo !important;
}

.cita-marco{
    background-color: moccasin !important;
}

blockquote#cita-marco{
    background-color:slateblue;
}




























